  :root {
    --box: #f2e709;
    --letter: #fff;
    --back: #373666;
    --symbol: #766df2;

    --mainFont: 2em;
  }
* {
    color: var(--box);
    font-size: var(--mainFont);
}
.hello {
    color: var(--symbol);
}
#content {
    background: url('./images/addo.jpg');
}